<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
Register here
<form action="/users" method="post" enctype="multipart/form-data">
    <input type="text" name="username" placeholder="username">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <input type="file"  name="avatar" ><br>
    <br>
    <input type="submit" value="Create Account">
</form>
</body>
</html>