<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="/home/harshitbisht96/WebstormProjects/gridfsandmulter/uploads/avatar-1501586228214.png">
</body>
</html>