<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link rel='stylesheet' href='/css/bootstrap.css'>
    <script src="/js/jquery.js" charset="utf-8"></script>
    <script src="/js/bootstrap.js" charset="utf-8"></script>
</head>
<body>
This is profile page
{{data.username}}
<img src="{{image}}"height="150" >

</body>
</html>